

@model IEnumerable<Fsn.Application.Contracts.Article.LastArticle>

<div class="related-posts">
    <h3 class="mb-30">آخرین مقاله ها</h3>
    <div class="loop-list">
      
        @foreach (var item in Model)
        {
            <article class="row mb-30">
                <div class="col-md-4">
                    <div class="post-thumb position-relative thumb-overlay">
                        <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(/Images/@item.Image)">
                            <a class="img-link" href="/@item.Title/Page/@item.Id.ToString()"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <div class="post-content">
                        <h5 class="post-title">
                            <a href="/@item.Title/Page/@item.Id.ToString()">@item.Title</a>
                        </h5>
                        <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                            <span class="post-on"><i class="ti-marker-alt"></i>@item.CommentCount نظر</span>
                        </div>
                        <p class="font-medium">@item.Content</p>
                    </div>
                </div>
            </article>
        }

    </div>
</div>