

@model Fsn.Application.Contracts.Article.CreateArticle


@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "افزودن پست جدید";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">افزودن پست</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/Admin/Blog/index">خانه</a></li>
                    <li class="breadcrumb-item active">افزودن پست</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2 text-bold">افزودن پست </h5>
                        <div id="example2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="/Admin/Article/Create" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                          
                                            @if (ViewBag.Error !=null)
                                            {
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="alert alert-info">
                                                            <p>@ViewBag.Error</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" asp-for="Title" placeholder="عنوان">
                                                    <span asp-validation-for="Title" class="error text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <select asp-for="ArticleCategoryId" asp-items="@ViewBag.Categorsies" class="form-control">
                                                        <option value="0">دسته</option>
                                                    </select>
                                                    <span asp-validation-for="ArticleCategoryId" class="error text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <input type="file" asp-for="ImagFile" accept="image/*">
                                                    <span asp-validation-for="ImagFile" class="error text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" asp-for="Content"></textarea>
                                                    <span asp-validation-for="Content" class="error text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                   <button type="submit" class="btn btn-success">ثبت</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial"/>
@section JS
{

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script>
        function GotoIndex() {

            location.href = '/Admin/Article/Index';
        }
    </script>
    <script>
        $(function () {
            $('#Content').ckeditor();
        });
    </script>

}




