
@model Fsn.Application.Contracts.Commnet.ListComment

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت کامنت ها";
}




<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">لیست کامنت ها</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/Admin/Blog/index">خانه</a></li>
                    <li class="breadcrumb-item active">لیست کامنت ها</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2 text-bold">مشاهده لیست کامنت ها</h5>
                        <div id="example2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="CommentFrm" action="/Admin/Comment/Search" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#Content">
                                        <div id="Content">
                                            <partial name="_Comments" model="@Model" />
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JS
{


    <script>

        function sendPage(pagenum) {
            $("#pageid").val(pagenum);
            $("#CommentFrm").submit();
        }


        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });


        function Show(_Id) {
            LoadComponenet('/Admin/Comment/Show',
                { id: _Id },
                function(res) {
                    $('body').append(res);
                    $('#ShowComment').modal();
                });
        }

        function RefreshTable() {
            $("#myTable").load("/Admin/Comment/Index #myTable");
            Close();
        }

        function Confirm(_Id) {
            ConfirmData('/Admin/Comment/Confirm/', { id: _Id });
        }
        function NotConfirm(_Id) {
            NotConfirmData('/Admin/Comment/NotConfirm/', { id: _Id });
        }
        function Delete(_Id) {
            RemoveData('/Admin/Comment/Delete/', { id: _Id });
        }

    </script>


}