
@model Fsn.Application.Contracts.Article.SingleArticle

@{
    Layout = "_Layout";
    ViewData["Title"] = $"مشاهده مقاله {Model.Title}";
}

<main class="position-relative">
    <!--archive header-->
    <div class="archive-header text-center">
        <div class="container">
            <div class="breadcrumb" dir="rtl">
                <a href="/" rel="nofollow">خانه</a>
                <span></span> مشاهده مقاله (@Model.Title)
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <!--main content-->
    <div class="main_content sidebar_right pb-50">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-md-12 col-sm-12 m-auto" dir="rtl">
                    <div class="entry-header entry-header-1 mb-30 text-right">
                        <h1 class="post-title ">
                            <a>@Model.Title</a>
                        </h1>
                        <div class="single-social-share clearfix ">
                            <div class="entry-meta meta-1 font-small color-grey float-right mt-10">
                                <span class="hit-count">@Model.CommentCount نظر<i class="ti-comment mr-5"></i></span>
                            </div>
                        </div>
                    </div>
                    <!--end entry header-->
                    <figure class="single-thumnail">
                        <div class="featured-slider-1 border-radius-5 p-3">
                            <div class="featured-slider-1-items">
                                <div class="slider-single">
                                    <img src="/Images/@Model.Image" class="rounded" alt="">
                                </div>
                            </div>
                        </div>

                    </figure>

                    <div class="entry-main-content">
                        <hr class="wp-block-separator is-style-wide">
                        <p class="text-justify">
                           @Html.Raw(Model.Content)
                        </p>
                    </div>

                    <!--related posts-->
                    <!--Comments-->
                    <div class="comments-area">
                        <h3 class="mb-30">لیست نظرات کاربران</h3>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/imgs/author.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment pr-4 text-right">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </p>
                                        <div class="d-flex justify-content-between pr-4">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">محمد رضایی</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/imgs/author.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment pr-4 text-right">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </p>
                                        <div class="d-flex justify-content-between pr-4">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">محمد رضایی</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/imgs/author.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment pr-4 text-right">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                                        </p>
                                        <div class="d-flex justify-content-between pr-4">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">محمد رضایی</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comment form-->
                    <div class="comment-form">
                        <h3 class="mb-30">ارسال نظر</h3>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="متن"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" type="text" placeholder="نام شما">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email" placeholder="ایمیل">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text" placeholder="آدرس وب سایت">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm">ثبت</button>
                            </div>
                        </form>
                    </div>
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    @await Component.InvokeAsync("LastArticle")
                </div>
            </div>
        </div>
    </div>
</main>