@{
    ViewData["Title"] = "خانه";
    Layout = "_Layout";
}

<main class="position-relative">
    <!--archive header-->
    <div class="archive-header text-center">
        <div class="container">
            <div class="breadcrumb" dir="rtl">
                <a href="index.html" rel="nofollow">خانه</a>
                <span></span> مقاله ها
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <!--main content-->
    <div class="main_content sidebar_right pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!--loop-list-->
                    <div class="loop-metro post-module-1 row">
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-1.jpg)">
                                    <NavLink class="img-link" href="blogDetail.html"></NavLink>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <NavLink class="color-white" href="blogDetail.html">سفر حسن روحانی به امریکا</NavLink>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-2.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">آمار کشته شدگان کرونا</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-3.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">آمریکا و ایران مزاکره می کنند</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-4.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">بهترین جاذبه های توریستی ایران</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-5.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">تخت جمشید ترمیم می شود</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-6.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">یک استان جدید در ایران</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-7.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">اضافه کردن بیش از 100 دکل مخابراتی</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-8.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">شیراز پایتخت فرهنگی ایران</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                            <div class="post-thumb position-relative">
                                <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/Site/assets/imgs/news-9.jpg)">
                                    <a class="img-link" href="blogDetail.html"></a>
                                    <div class="post-content-overlay">
                                        <h6 class="post-title">
                                            <a class="color-white" href="blogDetail.html">بررسی اختلاف های امریکا و ایران</a>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--pagination-->
                    <div class="pagination-area pt-30 text-center bt-1 border-color-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="single-wrap d-flex justify-content-center">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-start">
                                                <li class="page-item"><a class="page-link" href="#"><i class="flaticon-left"></i> </a></li>
                                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                <li class="page-item"><a class="page-link" href="#"><i class="flaticon-right"></i> </a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>