

.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.search-1 {
    position: relative;
    width: 100%
}

    .search-1 input {
        height: 45px;
        border: none;
        width: 100%;
        padding-left: 34px;
        padding-right: 10px;
        border-right: 2px solid #eee
    }

        .search-1 input:focus {
            border-color: none;
            box-shadow: none;
            outline: none
        }


::placeholder {
    color: darkgray;
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

    .search-2 input {
        height: 45px;
        text-align: center;
        width: 100%;
        padding-left: 100px;
        padding-right: 18px;
        border-radius: 10px;
    }



    .search-2 i {
        position: absolute;
        top: 12px;
        left: -10px;
        font-size: 24px;
        color: #fa476a
    }

    .search-2 button {
        position: absolute;
        left: 1px;
        top: 0px;
        border: none;
        height: 45px;
        background-color: red;
        color: #fff;
        width: 90px;
        border-radius: 9px;
    }

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #fa476a
    }

    .search-2 i {
        left: 4px
    }

    .search-2 input {
        padding-left: 34px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}




.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: right;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        border-radius: 20px;
    }

        .pagination a.active {
            background-color: #FA476A;
            color: white;
            border: 1px solid #8647FA;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

.circele {
    border-radius: 20px;
    margin: 4px;
}
